name: Manual trigger wedpr-jupyter-image docker image build

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'the input tag'

jobs:
  manual-build-wedpr-jupyter-image-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get branch name
        uses: nelonoel/branch-name@v1.0.1
      - name: Fetch tag
        run: |
          git fetch --tags --force
      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_FISCOPR_USER }}
          password: ${{ secrets.DOCKER_FISCOPR_TOKEN }}

      # the wedpr-jupyter-image image
      - name: Build and Push wedpr-jupyter-image images
        run: |
          echo "* Manual build wedpr-jupyter-image image, docker version: ${{ github.event.inputs.tags }}"
          DOCKER_TAG="wedpr-jupyter-image:${{ github.event.inputs.tags }}"
          echo "* Begin to build ${DOCKER_TAG}"
          cd WeDPR/docker-files/base
          docker build docker build -t ${DOCKER_TAG} .
          echo "* Build ${DOCKER_TAG} success"
          docker push ${DOCKER_TAG}
          echo "* Push ${DOCKER_TAG} success"